h1 {
    text-align: center;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #5e5e5e;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #5e5e5e;
}

.container {
    width: 100%;
}

#outerbox {
    border-style: dotted;
    border-color: rgb(221, 221, 221);
    border-width: 2px;
    padding: 30px;

}

.col-11 {
    margin: 20px auto;
    display: block;
}

#box {
    height: 250px;
    text-align: center;
    border-style: dashed;
    border-width: 2px;
    border-color: rgb(178, 183, 189);
    border-radius: 3%;
    margin: 20px auto;
    display: block;
}

#boxText {
    color: #929292;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    height: 50px;
    width: 250px;
    border-radius: 25px;
}

.btn1 {
    background-color: #bb0c0c;
    font-size: 16pt;
}

.btn2 {
    margin-left: 200px;
    font-size: 16pt;
}